<form name="registerForm" id="registerForm"  novalidate>
    <input class="m-1" type="text" name="firstname" id="firstname" placeholder="firstname" required>
    <div class="invalid-feedback" id="invalidPassword">Please provide a firstname</div>

    <input class="m-1" type="text" name="lastname" id="lastname" placeholder="lastname">
    <input class="m-1" type="text" name="usernameReg" id="usernameReg" placeholder="username" required>
    <div class="invalid-feedback" id="invalidPassword">Please provide a username</div>

    <input class="m-1" type="text" name="passwordReg" id="passwordReg" placeholder="password" required>
    <div class="invalid-feedback" id="invalidPassword">Please provide a password</div>

    <input class="m-1" type="text" name="email" id="email" placeholder="email" required>
    <div class="invalid-feedback" id="invalidPassword">Please provide a email</div>
</form>

<button class="m-2 p-1" id="submit" (click)="display($event)" type="submit">Submit</button>
<button class="m-2 p-1" id="cancel" (click)="display($event)" type="submit">Cancel</button>