<div class="main-container">
    <app-nav-bar></app-nav-bar>
  <div class="row">
    <div class="form-group col-2 mt-1 align-items-start">
      <app-filter (filterEvent)="filter($event)"></app-filter>
      <input class="m-3" type="text" placeholder="altitude">
      <input class="m-3" type="text" placeholder="radius">
      <input class="m-3" type="text" placeholder="category">
      <button class="m-3">Submit</button>
    </div> 
    <div class="col">
      <app-sat-list [page]="page" [term]="term"></app-sat-list>
    </div>
  </div>
  </div>