<p>sat-info works!</p>
<div class="container-fluid">
  <div class="card border-primary border-2 mb-3" style="max-width: 960px">
    <div class="row g-0">
      <div class="col-4 row align-items-center p-3">
        <img
          src="https://static.dw.com/image/60008250_401.jpg"
          class="img-fluid mx-auto rounded-start"
          alt="..."
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col">
              <h5 class="card-title text-start">SPACE STATION</h5>
            </div>
            <div class="col">
              <h5 class="card-title text-end">25544</h5>
            </div>
          </div>

          <p class="card-text m-0">LAT: -23.35</p>
          <p class="card-text m-0">LNG: -105.19</p>
          <p class="card-text m-0">ALT: 424.91</p>
          <p class="card-text m-0">Azimuth: 192.61</p>
          <p class="card-text m-0">Elevation: -31</p>
          <p class="card-text m-0">Right Accention: 56.89</p>
          <p class="card-text m-0">Declination: -75.48</p>

          <p class="card-text text-end">
            <small class="text-muted">(Timestamp)</small>
          </p>
          <button class="btn btn-primary">Comments</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Doesn't Work in Angular-->
<!-- <script type="text/javascript" src="https://www.n2yo.com/js/widget-tracker.js"></script> -->
