<div class="container-fluid">
  <div class="card border-primary border-2 mb-3" style="max-width: 960px">
    <div class="row g-0">
      <div class="col-4 row align-items-center p-3">
        <img
          src="https://static.dw.com/image/60008250_401.jpg"
          class="img-fluid mx-auto rounded-start"
          alt="..."
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col">
              <h5 class="card-title text-start">{{satname}}</h5>
            </div>
            <div class="col">
              <h5 class="card-title text-end">{{satid}}</h5>
            </div>
          </div>

          <p class="card-text m-0">Lat: {{latitude}}</p>
          <p class="card-text m-0">Lng: {{longitude}}</p>
          <p class="card-text m-0">Alt: {{altitude + "KM"}}</p>
          <p class="card-text m-0 mt-2">Azimuth: {{azimuth}}</p>
          <p class="card-text m-0">Elevation: {{elevation}}</p>
          <p class="card-text m-0 mt-2">Right Accention: {{rightAccention}}</p>
          <p class="card-text m-0">Declination: {{declination}}</p>

          <p class="card-text text-end">
            <small class="text-muted">{{getTimestampMillis() | date:'medium'}}</small>
          </p>
          <button class="btn btn-primary" (click)="toggleSidePanelEvent()">Comments</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Doesn't Work in Angular-->
<!-- <script type="text/javascript" src="https://www.n2yo.com/js/widget-tracker.js"></script> -->
