
<div class="form-group">

  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"> </div>


     


        <div class="col-8">      
          
          <ng-container *ngIf="term != null">
            
            <div *ngIf="term.length > 0;">
              <div *ngFor="let sat of filterData | filter:term">
                <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col">
                    <h5 class="card-title text-start">{{ sat.satname }}</h5>
                  </div>
                  <div class="col-3">
                    <h5 class="card-title text-end">{{ sat.satId }}</h5>
                  </div>
                </div>

                <p class="card-text m-0">Lat: {{ sat.latitude }}</p>
                <p class="card-text m-0">Lng: {{ sat.longitude }}</p>
                <p class="card-text m-0">Alt: {{ sat.altitude + "KM" }}</p>
                <p class="card-text m-0 mt-2">Azimuth: {{ sat.azimuth }}</p>
                <p class="card-text m-0">Elevation: {{ sat.elevation }}</p>
                <p class="card-text m-0 mt-2">
                  Right Accention: {{ sat.rightAccention }}
                </p>
                <p class="card-text m-0">Declination: {{ sat.declination }}</p>
      
                <p class="cart-text m-0">Favorites: {{sat.favorites}}</p>
                
                <button class="btn btn-secondary">Fav</button>
              </div>
              </div>
            </div>
          </ng-container>